@using Aspire.Dashboard.Model
@inject IStringLocalizer<Resources.Routes> Loc
@inject IEnumerable<ExtraBlazorAssembly> ExtraBlazorAssemblies

<Router AppAssembly="@typeof(App).Assembly" AdditionalAssemblies="@ExtraBlazorAssemblies.Select(b => b.Assembly)">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)" />
    </Found>
    <NotFound>
        <PageTitle>@Loc[nameof(Resources.Routes.RoutesPageTitle)]</PageTitle>
        <LayoutView Layout="@typeof(Layout.MainLayout)">
            <p role="alert">@Loc[nameof(Resources.Routes.RoutesNotFoundDescription)]</p>
        </LayoutView>
    </NotFound>
</Router>
